* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
h1{
    padding: 5px;
    font-family: Arial;
    background-color: red;
    font-size: 24px;
    color: white;
}
#author-name-and-date{
    font-family: Arial;
    font-size: 12px;
    color: grey;
}
p, ol{
    font-size: 16px;
    color: darkslategray;
;
}
a{
    font-family: Arial;
    font-size: 12px;
    color: blue;
}